.coincard{
    justify-content: center;
}

.benefits-cards--detail{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider{
    justify-content: center;
}